@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

@font-face { 
	font-family: "Fira Sans"; 
	src: url("fira-sans-v10-latin-regular.woff2");
}

* {
    margin: 0px;
    padding: 0px;
}

/* Página adaptable*/

@media screen and (orientation: portrait) {
  #header {
    width: 100%;
  }

  	.nav li a {
		padding: 40px 30px;
		font-size: 1.4em;
	}
	
	table {
		font-family: "Fira Sans", Helvetica, sans-serif;
		margin-left:auto; 
		margin-right:auto;
		margin-top: 9em;
		margin-bottom: 4%;
		text-align: center;
		table-layout: auto;
		/*width: 80%;*/
	}
}

@media (orientation: landscape) {
  #header {
    width: 100%;
  }
  
	.nav li a {
		padding: 20px 15px;
		font-size: 1em;
	}
	
	table {
		font-family: "Fira Sans", Helvetica, sans-serif;
		margin-left:auto; 
		margin-right:auto;
		margin-top: 5em;
		margin-bottom: 20px;
		text-align: center;
		table-layout: fixed;
		width: 80%; 
	}
}

/*Menú superior*/


#header {
	font-family: 'Source Sans Pro', cursive;
    display: block;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
	position: fixed;
	top: 0;
	right: 0;
}

.nav {
    background-color: black;
    display: block;
    overflow: auto;
}

ul, ol {
    list-style: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    /*padding: 20px 15px;*/
    display: block;
    border: 2px solid #eee;
    list-style: none;
}

.nav li a:hover {
    background-color: #434343;
}

.nav > li {
    float:left;
}

.nav li ul {
    display:none;
    position: absolute;
    min-width: 140px;
    background-color: black;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}

#header .nav {
    display: flex;
    justify-content: center;
}

#header .active {
	background-color: grey;
}

/*Menú lateral*/

/*nav {	
    font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	background-color: white;
  box-shadow: -5x 0px 0px 0px black, 5px 0px 0px 0px black;
	width: 25%;
	height: 100%;
	padding-left: 10px;
	padding-top: 10px;
}*/


/*Imagen de fondo*/

body {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Earl-Solace-Cover.jpg/220px-Earl-Solace-Cover.jpg);
	background-repeat: repeat;
	background-color: red;

}

/*Tablas*/

/*table {
    font-family: Arial, Helvetica, sans-serif;
	margin-left:auto; 
	margin-right:auto;
	margin-top: 5em;
	margin-bottom: 20px;
	text-align: center;
}*/

table, th, td {
	border: 3px solid black;
	background-color: #a8b8d0;
	border-collapse: collapse;
	padding: 5px;
}

th, td {
  width: auto ;
}

th {
	text-decoration: underline;
	font-size: 1.3em;
}

/*Footer*/

footer {
	display: flex;
	flex-direction: row;
	background-color: DodgerBlue;
	height: 70px;
	border-top: 3px solid white;
}

footer > div {
	font-family: "Fira Sans", sans-serif;
	background-color: #f1f1f1;
	width: 100px;
	margin: auto;
	text-align: center;
	font-size: 15px;
}








